---
import { Image } from 'astro:assets';
import logo from '../assets/images/virtuodev-logo.png';
---
<footer class="footer">
  <a href="#" class="footer-logo"><Image src={logo} alt="Virtuodev" class="footer-logo-img" width={100} height={100} loading="lazy" decoding="async" /></a>
  <div class="footer-links">
    <a href="/mentions-legales">Mentions légales</a>
    <a href="/politique-de-confidentialite">Politique de confidentialité</a>
  </div>
</footer>

<style>
  .footer-links a {
    color: #ffffff !important;
  }
  .footer-links a:hover {
    color: var(--gris-300) !important;
  }
</style>
